.attention {
  position: sticky;
  display: block;
  cursor: pointer;
}

.attention__center {
  position: sticky;
  width: 100%;
  height: 40px;
  background-color: #FFF500;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.attention__link {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  padding-left: 13px;
  padding-right: 13px;
}